<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        console.log("{{ url_for('index', _external=True ) }}");
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/tweet');

        socket.on('log_message', function(msg) {
            $('#log').append('<p>Received: ' + msg.data + '</p>');
        });
        socket.on('tweet', function(msg) {
           $('#tweets').append('<p>Message: ' + msg.data + '</p>');
        });

        $('form#broadcast').submit(function(event) {
            socket.emit('new_tweet', {data: $('#emit_data').val()});
            event.preventDefault();
        return false;
        });
    });
    </script>
</head>
<body>
    <h2>Send:</h2>
    <form id="broadcast" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form>
    <h2>Log:</h2>
    <div id="log"></div>
    <h2>Message:</h2>
    <div id="tweets"></div>
</body>
</html>