<div id="inputContainer">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#inputForm" aria-expanded="false"
            aria-controls="inputForm">
    New Todo
    </button>
    <div class="collapse" id="inputForm">
      <div class="form-group">
        <label for="titleInput">Title</label>
        <input [(ngModel)]="newTodo.title" type="text" class="form-control" id="titleInput" aria-describedby="emailHelp"
               placeholder="Put your title here">
        <small [style.visibility]="newTodo.title ? 'hidden':'visible'" id="titleHelp"
               class="form-text text-muted error-text">I need a title</small>
      </div>
      <div class="form-group">
        <label for="descriptionInput">Description</label>
        <textarea [(ngModel)]="newTodo.description" class="form-control" id="descriptionInput" rows="3"
                  placeholder="Put your description here"></textarea>
        <small [style.visibility]="newTodo.description ? 'hidden':'visible'"
               id="descriptionHelp" class="form-text text-muted error-text">I need a description</small>
      </div>
      <button type="button" class="btn btn-secondary" (click)="save()"
            [disabled]="!newTodo.title || !newTodo.description">Apply</button>
      <button type="button" class="btn btn-secondary" (click)="undo()">Cancel</button>
    </div>
</div>
